.terms-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px 20px;
  background-color: #ffffff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  padding-top: 100px;
}



.terms-title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.terms-updated {
  text-align: center;
  font-size: 0.95rem;
  color: #777;
  margin-bottom: 30px;
}

.terms-section {
  margin-bottom: 30px;
}

.terms-section h2 {
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: #333;
  border-left: 4px solid #007acc;
  padding-left: 10px;
}

.terms-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 10px;
}
.terms-section a{
  color: #333;
}

.terms-section a:hover{
   color: #3b82f6; /* Brighter on hover */
  text-decoration: none;
}

.terms-section ul {
  padding-left: 20px;
  margin-top: 0;
}

.terms-section ul li {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #555;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
