.testimonials-container {
  width: 100%;
  padding: 40px 20px;
  background-color: #0f172a;
  color: white;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.testimonials-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.testimonials-title span{
  color: #3b82f6;
}
/* Infinite Loop Wrapper */
.testimonial-loop-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* Looping track */
.testimonial-loop-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scrollLoop 40s linear infinite;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.testimonial-card {
  height: 250px;
  width: 450px;
  background: white;
  color: #0f172a;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  transition: transform 0.3s ease;

  margin-top: 40px; /* MOVE DOWN */
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-rating {
  color: #ffb400;
  margin: 8px 0;
  margin-top: -2px;
}

.testimonial-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1px;
}

.testimonial-text {
  font-style: italic;
  margin-top: 2px;
  color: #333;
}

.arrow-button {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}