html {
  overflow-y: scroll; /* lock scrollbar width */
}

body {
  overflow-x: hidden;
}


body {
  
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
/* }  */
